body {
    background-color: #1c1c1c;
    color: #c1c1c1;
}

.row {
    margin: 0 auto;
    width: 1600px;
}

.inline div {
    display: inline-block;
    vertical-align: top;
}

.chartblock {
    width: 740px;
}